@import "variables";

.navbar {
    background-color: #990707fb;
    list-style: none;
    margin: 0px auto;
    text-align: left;
    font-size: 20px;
    font-family: $fuente;
    font-family: monospace;
    color: $color-ff;
    padding: 10px; }