.navbar {
  background-color: #990707fb;
  list-style: none;
  margin: 0px auto;
  text-align: left;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: monospace;
  color: #ffffff;
  padding: 10px; }

.carousel {
    background-color:linear-gradient(to bottom, black, rgba(117, 19, 93, 0.73));
    max-height: fit-content; }

.carousel img:hover{
  transform: scale(0.9);
}

* {
  padding: 1;
  margin: 1;
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff; }

h1 {
  font-family: monospace;
  color: #ffffff;
  padding: 10px; }

p1 {
  padding: 20px;
  line-height: 1.5;
  color: aliceblue;
  width: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10PX;
  display: inline-block; }

/* media query para pantalla Chica*/
@media (max-width: 768px) {
  #intro {
    width: 90% !important; }
  .grid-fila {
    width: auto !important; } }

.novedad {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.novedad img {
  width: 500px !important;
  border: solid rebeccapurple 2px !important;
  opacity: .3 !important; }

.novedad img:hover {
  border: solid white 3px !important;
  opacity: .9 !important; 
  transform: scale(1.2);}

.miembros p {
  text-align: justify;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center; }

  .miembros img:hover{
    transform: scale(1.1);
  }

.pie {
  background-color: red; }

footer {
  background-color: red;
  text-align: center;
  padding: 10px; }