*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
body{background-color: black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: #ffffff;}
h1{font-family:monospace;color: #ffffff;padding: 10px;}

p1{padding: 20px;
    line-height: 1.5;
    color: aliceblue;
    width: 400px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

a{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: azure;font-style: normal;
padding: 10PX;display: inline-block;}

.menu{
    background-color: #1d040486;
    list-style: none;
    margin: 0px auto;
    text-align: left;
    font-size: 20px;
    
}
.menu li{display: inline-block;
justify-content: space-between;}




.pie{background-color: red;}
.pie li{display: inline-block;}

footer{background-color: red;text-align: center;
padding: 10px;}

.carrucel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrucel img {
    width: 900px;
    text-align: center;
    display: block;
}

.musica{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.proximos{
    display:inline-flex;
    text-align:left;
    align-items:center;
}

.novedad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.novedad img{
    width: 500px;
    border: solid rebeccapurple 2px;
    opacity: .3;
}
.novedad img:hover{
    border: solid white 3px;
    opacity: .9;
}
.historia p{
    text-align: justify;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: flex-start;
}
.miembros p{
    text-align: justify;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}